{% load staticfiles %}
{% load dajaxice_templatetags %}

<head>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.red-deep_purple.min.css" />
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="{% static "/static/dajax/jquery.dajax.core.js" %}"></script>
	{% dajaxice_js_import %}

	<script>
	function send_switches() {
		var state = {};
		for (var i = 1; i <=18 ; i++) {
			state[i] = $('#switch-' + i).is(':checked')
		}
		Dajaxice.fpga_dash.do_switches(Dajax.process,{'state' : state})
	}

	function send_key(id, state) {
		Dajaxice.fpga_dash.do_key(Dajax.process,{'id' : id, 'state' : state})
	}

	function send_reset() {
		Dajaxice.fpga_dash.do_reset(Dajax.process)
	}

	function send_demo() {
		Dajaxice.fpga_dash.do_demo(Dajax.process)
	}

	function start_load_progress() {
		$('#bs-spinner').addClass('is-active')
	}

	function stop_load_progress() {
		setTimeout(function() {$('#bs-spinner').removeClass('is-active')} , 1000)
	}
	</script>
</head>

<body style='background: url({% static "dashboard/de2-big.jpg" %}) no-repeat center center fixed;  background-size: cover;'>
<div style="width:1280px;margin:100px auto;display:flex">
	<div class="mdl-card mdl-shadow--4dp" style="margin:20px;overflow:auto">
		<div>
			<div style="margin:20px;float:left;width:100px">
				<h4>Switches</h4>
				{% with ''|center:18 as range %}
				{% for _ in range %}
				<div style="padding:5px">
				<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-{{ forloop.counter }}">
					<span class="mdl-switch__label">{{ forloop.counter }}</span>
					<input type="checkbox" id="switch-{{ forloop.counter }}" class="mdl-switch__input" onclick="send_test();"/>
				</label>
				</div>
				{% endfor %}
				{% endwith %}
			</div>

			<div style="margin:20px;float:left;width:150px">
				<h4>Keys</h4>
				<div style="display:flex;flex-wrap:wrap">
					{% with ''|center:4 as range %}
					{% for _ in range %}
					<div style="padding:5px">
						<button style="margin:0 auto" class="mdl-button mdl-js-button mdl-button--fab mdl-button--primary mdl-js-ripple-effect" id="key-{{ forloop.counter }}" onmousedown="send_key({{ forloop.counter }}, 1);" onmouseup="send_key({{ forloop.counter }}, 0);">
						  {{ forloop.counter }}
						</button>
					</div>
					{% endfor %}
					{% endwith %}
				</div>

				<h4>Bitstream</h4>
				<div id="bs-spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner" style="float:right"></div>
				<div style="margin:5px">
					<form enctype="multipart/form-data" id="bs-form" method="post" action="bitstream" target="dummy">
					{% csrf_token %}
					<input id="bs-upload" name="bs-upload" type="file" style="display:none" onchange="start_load_progress(); $('#bs-form').submit()"/>
					<label id="bsfile" for="bs-upload" style="width:80px;overflow:hidden;" class="mdl-button mdl-button--raised mdl-button--primary">Upload</label>
					</form>
				</div>

				<div style="margin:5px"><button style="width:96px;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect" onclick="send_reset();">Reset</button></div>

				<div style="margin:5px"><button style="width:96px;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" onclick="send_demo();">Demo</button></div>

				<h4>Audio</h4>
				<div style="margin:5px">
					<form enctype="multipart/form-data" id="audio-form" method="post" action="audio" target="dummy">
					{% csrf_token %}
					<input id="audio-upload" name="audio-upload" type="file" style="display:none" onchange="$('#bs-form').submit()"/>
					<label id="audiofile" for="audio-upload" style="width:80px" class="mdl-button mdl-button--raised mdl-button--primary">Upload</label>
				</div>
			</div>
		</div>
	</div>

	<div style="flex-grow:1;display:flex;flex-direction:column">
		<div class="mdl-shadow--4dp" style="flex-grow:1;margin:20px;padding:20px;background:#FFFFFF">
			<video />
		</div>

		<div class="mdl-shadow--4dp" style="margin:20px;padding:5px;background:#FFFFFF">
			RLab Backend Version 0.1.
		</div>
	</div>
</div>

<iframe id="dummy" name="dummy" src="#" style="display:none" onload="stop_load_progress();"></iframe>
</body>
